$topBarBg: #F4F4F4;
$colorBlack: #000000;
$lineBG: #DDDDDD;
$primaryColor: #FEDC19;
$secondaryColor: #051D43;
$colorDry:rgb(233, 233, 233);   
$colorWhite:#fff;   
$colorDanger:#E13E1D;
$textBlack:#252525;
$textGray:#77797E;