body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
@import  'colors.scss';
.text-danger{
    color: $colorDanger;
}

@import  'header.scss';

.right-10{
    right: 10px;
}
.bottom-10{
    bottom: 10px;
}   

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
  
.navbar-toggler {
    border-color: transparent !important;
    padding: 0;
} 